@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playwrite+DE+VA+Guides&family=Staatliches&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* COLOR PALETTE: https://colorhunt.co/palette/5d8736809d3ca9c46cf4ffc3 */
@layer base {
  :root {
    --color-primary: #5D8736;
    --color-primary-hover: #A9C46C;
    --color-background: #e0eae0;
    --color-header-bg: #ffffff;
    --color-card-bg: #ffffff93;
    --color-card-bg-add: #ffffff;
    --color-text: #1a1a1a;
    --color-text-secondary: #4b5563;
    --color-border: #C8E6C9;
    --color-input-bg: #f3f4f6;
    --color-card-border: #e5e7eb;
    --color-stats-card: #ffffff80;
    --color-divider: rgba(26, 26, 26, 0.2);
  }

  .dark {
    --color-primary: #A9C46C;
    --color-primary-hover: #5D8736;
    --color-background: #0a0a0a;
    --color-header-bg: #1E1E1E;
    --color-card-bg: #1616168c;
    --color-card-bg-add: #1e1e1e8c;
    --color-text: #FFFFFF;
    --color-text-secondary: #d4d4d4;
    --color-border: #2f2f2f;
    --color-input-bg: #2f2f2f;
    --color-card-border: #2f2f2f;
    --color-stats-card: #1E1E1E80;
    --color-divider: rgba(255, 255, 255, 0.2);
  }
}
@font-face {
  font-family: 'Recoleta';
  src: url('/fonts/Recoleta-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

input[type="number"].hide-spinner::-webkit-inner-spin-button,
input[type="number"].hide-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"].hide-spinner {
  -moz-appearance: textfield;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer utilities {
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}